@charset "utf-8";
/* CSS Document */

/*Styling for header */
.image1 {
    background: url(/Content/img/cropted.png)
}
.navbar {
    border-radius: 0px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 1);
    border: 0px;
    margin-bottom: 0px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
}

	.nav_right{
		margin-right: 18%;
	}
	#logo {
		width: 70%;
		float:left;
	}
	.nav_right {
		font-size: 11px;	
	}
	.nav_right > i {
		font-size: 11px;	
	}
	
	.nav_center > li {
		font-size: 11px;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 1px;
	}
	
	.input-group .form-control {
		border-radius: 0px;
		width: 80px;
		height: 25px;
		border:none;	
	}
	
	.input-group-btn button {
		height: 25px;
		border:none;	
	}
	.sub-item {
		font-size: 11px;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 1px;
	}
	
/*Styling for footer */
	.footer-bl {
		border-top: 1px solid #000;
		margin-top: 20px;
		background: #1e1e1e;
		color: #eee;
	}
	.Footer {
		padding-top: 30px;
		padding-bottom: 25px;
		
	}
	.b-content li {
		text-decoration: none;
		list-style: none;
		text-align:left;
		
	}
	.b-title  {
		
		text-transform:uppercase;
		font-weight: bold;
		letter-spacing: 2px;
		padding-bottom: 5px;
	}
	
	#menu1 {
		padding-left: 25%;	
	}
	
	.b-content .ft-item {
		color: #eee;	
	}
	#lastrow {
		text-align: center;
		padding-top: 10px;
		text-transform: uppercase;
		font-size: x-small;
		letter-spacing: 2px;
		padding-bottom: 10px;
		font-weight: bold;
		background: #777;
		color: #fff;
	}
	
	/* Responsive */
	
	@media (max-width:1024 px) {
		#logo {
			width:50%;
			
		}
		
	}
	
	@media (max-width:1366 px) {
		#logo {
			width:50%;
			
		}
		
	}
	