<div class="container">
    <img src="/Content/img/img1.jpg" width="1170" height="600" />
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="content-checkout">
                <p>Thông tin giao hành </p>
                <input placeholder="Email" type="email" />
                <input placeholder="Họ và tên" type="text" />
        
                <input placeholder="Số điện thoại" type="number" />
                <input placeholder="Địa chỉ" type="text" />
                <textarea> Ghi chú</textarea>
            </div>


        </div>
        <div class="col-md-6">
            
        </div>
    </div>

</div>