<div class="footer-bl" >
    <div class="Footer container">
        <div class="footerRow row">
            <div class="col-md-4">
            </div>
            <div class="col-md-2 menuBar">
                <div class="b-title">
                    <span id="menu1">Menu</span>
                </div>
                <div class="b-content">
                    <ul>
                        <li><a class="ft-item" href="About.html">About Us</a></li>
                        <li><a class="ft-item" href="Contact.html">Contact Us</a></li>
                        <li><a class="ft-item" href="Sitemap.html">Site Map</a></li>
                        <li><a class="ft-item" href="Feedback.html">Feed back</a></li>
                        <li><a class="ft-item" href="Gallery.html">Gallery</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 Info">
                <div class="b-title">
                    <span>Contact Bag&Bag </span>
                </div>
                <div class="b-content">

                    <span class="glyphicon glyphicon-home"></span>
                    No. 16 Duy Tan Streets, Hanoi, VietNam
                    </br>
                    <span class="glyphicon glyphicon-print"></span>
                    Tax Number :
                    <span>1234435678</span>
                    </br>
                    <span class="glyphicon glyphicon-phone"></span>
                    Phone Number :
                    <span>
                        01633364019
                    </span></br>
                    <span class="glyphicon glyphicon-time"></span>
                    Working time from 9 am to 6 pm
                </div>
            </div>


        </div>

    </div>
</div>



<div id="lastrow">
    Bag&Bag Company Ltd.
</div>
