@using System.Web.UI.WebControls
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

   
    <link rel="stylesheet" type="text/css" href="/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Owl library -->

    <link rel="stylesheet" type="text/css" href="/Content/js/OWL-carolsell/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/Content/js/OWL-carolsell/owl.transitions.css">
    <link rel="stylesheet" type="text/css" href="/Content/js/OWL-carolsell/owl.theme.css" />


    <!-- End Owl slider -->
    <!-- CSS+JS -->
    <link rel="stylesheet" href="/Content/css/template.css"/>
    <link rel="stylesheet" href="/Content/css/home.css"/>
    <link rel="stylesheet", type="text/css" href="/Content/css/Productmale.css" />


</head>

<body class="active">
<!-- Header -->


   @{ Html.RenderPartial("_Header", null); }



<!--- section 1: slider -->
  


@RenderBody();



    
<!-- Footer page -->
@{ Html.RenderPartial("_footer", null); }

<script type="text/javascript" src="/Content/js/jquery-3.2.1.min.js"></script>
<script type="application/javascript" src="/Content/js/OWL-carolsell/owl.carousel.min.js"></script>
<script type="application/javascript" src="/Content/js/home.js"></script>
</body>

</html>
