
<div id="owl-demo" class="owl-carousel owl-theme">
    <div class="item">
        <img class="img-slider" src="/Content/img/slider1.jpg" />
    </div>
    <div class="item">
        <img class="img-slider" src="/Content/img/slider2.jpg" />
    </div>
    <div class="item">
        <img class="img-slider" src="/Content/img/slider3.jpg" />
    </div>
</div>


