<div class="br-list container">
    <div id="br-title">
        Top of Brand
    </div>
</div>
<div id="owl-demo1" class="owl-carousel owl-theme">

    <div class="item-brand"><img src="/Content/img/brandlist1.jpg" /></div>
    <div class="item-brand"><img src="/Content/img/brandlist2.png" /></div>
    <div class="item-brand"><img src="/Content/img/brandlist3.jpg" /></div>
    <div class="item-brand"><img src="/Content/img/brandlist4.jpg" /></div>
    <div class="item-brand"><img src="/Content/img/dribbble_adidas.gif" /></div>
    <div class="item-brand"><img src="/Content/img/brandlist5.jpg" /></div>


</div>

