@model FashionShop.ViewModels.ProductDetailViewModel

<div class="container">
    <img src="/Content/img/img1.jpg" width="1170" height="600" />
</div>



<div class=" b-body container">
    
    @if (Model != null)
    {

        <div class="row">

            <div class="b-content">

                <!--Block Product image -->
                <div id="product-preview" class="col-md-7 col-sm-7 col-xs-12">
                    <div class="pd-preview">
                        <img class="xzoom" src=@Model.ImageSrc xoriginal="img/anh1.jpg"/>

                    </div>


                </div>
                <!-- Block product detail and price -->
                <div id="product-information" class="col-md-5 col-sm-5 col-xs-12">
                    <h4>@Model.Name</h4>
                    <p id="prd-id">Code: </p>
                    <p id="pr-price">@Model.Price VND</p>
                    <ul class="prd-color">
                        <li>
                            <span class="cl-name">Color :</span>
                        </li>
                        <li>
                            <ul class="color-list">
                                <li><img src="/Content/img/color.png" id="cl-item1"/></li>
                                <li><img src="/Content/img/color.png" id="cl-item2"/></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="prd-size">
                        <li>
                            <span class="size-naming">Size :</span>
                        </li>
                        <li>
                            <select name="sizelist">
                                <option value="small">Small </option>
                                <option value="medium">Medium</option>
                                <option value="large">Large</option>
                            </select>
                        </li>
                    </ul>

                    <p class="prd-value">
                        <span>Quantity :</span>
                        <input type="text" value="1" size="1"/>
                    </p>
                    <button id="buyItem" type="button" size="2" onclick="BuyProduct()">


                        ADD TO YOUR CART

                    </button>
                    <button id="detailBtn" type="button" class="btn btn-info" data-toggle="collapse" data-target="#detail-info">Detail</button>
                    <br/>
                    <!--- --->

                    <div id="detail-info" class="collapse">
                        <p>Cặp xách Mars phù hợp cho các bạn đi làm công sở. Với thiết kế gọn nhưng đầy đủ các ngăn tính năng.</p>
                        <ul>
                            <li>Có ngăn đựng được Laptop 15" với chức năng giảm sốc 3 mặt</li>
                            <li>Thiết kế Cặp xách kết hợp với đeo chéo tháo rời tiện lợi khi đi lại nhiều.</li>
                            <li>Đựng được các giấy tờ, tài liệu cỡ giấy A4.</li>
                            <li>Kích thước: Ngang: 43cm - Cao 31 cm, - Hông 7,5 cm</li>
                        </ul>
                        <p>Chất liệu da tổng hợp cao cấp, không nổ da, không bong tróc (trừ khi bị ma sát quá nhiều hoặc bị lực tác động mạnh sẽ bị mòn hoặc xước da). Bề mặt da chống
                            chống thấm nước. Dễ dàng được vệ sinh với xà phòng và nước. Có khả năng chịu được môi trường thời tiết khắc nghiệt.</p>
                    </div>


                    <!-- -->


                </div>
            </div>
        </div>

    }
    else
    {
        <div>
            Cannot found the product.
        </div>
    }

</div>      