
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="container">
    <img src="/Content/img/img1.jpg" width="1170" height="600" />
</div>
<div class="container">
  Order successfully!

</div>
