.navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width:100%;
  border-radius: 0px;

  background-color: rgba(255, 255, 255, 1);
  border: 0px;

}

/* styling for footer */
footer {
  border-top: 1px solid #000;
  margin-top: 20px;
  background:#333333;
  color:#FFF;
}
.Footer {
  padding-top: 30px;

}
.b-content li {
  text-decoration: none;
  list-style: none;
  text-align:left;

}
.b-title  {

  text-transform:uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  padding-bottom: 5px;
}