@charset "utf-8";
/* CSS Document */

.block-1 {
	padding-top: 110px;

}

#sitemap  a {
    color: #235c97ba;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
}

.row .text {
    color: #333;
    font-size: 29px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 10px;
}


.row h1{
	color: #333;
    font-size: 24px;
    font-weight: bold;
	}

    

.row .text {
    color: #333;
    font-size: 29px;
}
	
.clear {
	clear:both;	
}