@using FashionShop.ViewModels

@model ProductListViewModel

@{
    ViewBag.Title = Model.ProductType;
}


<div class="container">
    <img src="/Content/img/img1.jpg" width="1170" height="600" />
</div>

<!-- Section 2 -->
<div class=" container">
    <span>
        <a href="home.html"><img src="/Content/img/home.png" class="img-m1" /></a>
    </span>

</div>

<div class="container">
    <div class="row f1">
        <div class="col-md-8">

            <h4 class="Name">@Model.ProductType</h4>
        </div>

        <div class="col-md-2">
            <input type="hidden" name="type" value="">
            <div class="filter-price">

                <select class="input form-control" name="order" id="order">
                    <option value="#">-- Order --</option>
                    <option value="#">New Products</option>
                    <option value="#">From Low To High</option>
                    <option value="#">From High To Low</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <input type="submit" class="btn btn inverse" value="Check" id="check">
        </div>

    </div>
    <div class="row content1 ">

        @{
            Html.RenderPartial("LeftMenu", null);
        }

        @{ Html.RenderPartial("ListItems", Model.ProductItems);}





    </div>



</div>

