        <div class="col-md-3" >

    <div class="list-menu-box">
        <ul>
            <li class="menu-box"> <span class="title-list " >Danh mục sản phẩm</span>
                <ul class="sap-xep">
                    <li><a href="#">Male</a></li>
                    <li><a href="#">Female</a></li>
                    <li><a href="#">Unisex</a></li>
                </ul>
            </li>

            <li class="menu-box"><span class="title-list " >Style</span>
                <ul class="sap-xep">
                    <li><a href="#">Elegant</a></li>
                    <li><a href="#">Classic</a></li>
                    <li><a href="#">Office</a></li>
                    <li><a href="#">Handle</a></li>
                    <li><a href="#">Travelling</a></li>
                </ul>
            </li>

        </ul>
    </div>


</div>